## Easy

Для данных с Титаника обучить модели логистической регрессии и решающего дерева на 80% обучающей выборки и проверить результат на 20%. У какой модели результат лучше?

In [107]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [108]:
df = pd.read_csv('data/train.csv')
df = pd.DataFrame(df)
df = df.dropna()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [109]:
df.shape

(183, 12)

In [110]:
print (df['Survived'].value_counts())
print (df['Pclass'].value_counts())
print (df['Sex'].value_counts())
print (df['SibSp'].value_counts())
print (df['Parch'].value_counts())
print (df['Fare'].value_counts())
print (df['Cabin'].value_counts())
print (df['Embarked'].value_counts())

1    123
0     60
Name: Survived, dtype: int64
1    158
2     15
3     10
Name: Pclass, dtype: int64
male      95
female    88
Name: Sex, dtype: int64
0    110
1     64
2      6
3      3
Name: SibSp, dtype: int64
0    122
1     37
2     23
4      1
Name: Parch, dtype: int64
26.5500     7
53.1000     5
13.0000     4
120.0000    4
263.0000    4
           ..
32.3208     1
13.7917     1
5.0000      1
30.6958     1
50.4958     1
Name: Fare, Length: 93, dtype: int64
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
D              3
              ..
B30            1
A7             1
B3             1
C54            1
C87            1
Name: Cabin, Length: 133, dtype: int64
S    116
C     65
Q      2
Name: Embarked, dtype: int64

In [111]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
df['Embarked'] = df['Embarked'].map({'S': 1, 'C': 2, 'Q': 3})

In [112]:
x_df = pd.DataFrame(df[['Pclass', 'Sex', 'Age', 'Fare', 'SibSp', 'Parch', 'Embarked']])
x_df.head()

    Pclass  Sex   Age     Fare  SibSp  Parch  Embarked
1        1    1  38.0  71.2833      1      0         2
3        1    1  35.0  53.1000      1      0         1
6        1    0  54.0  51.8625      0      0         1
10       3    1   4.0  16.7000      1      1         1
11       1    1  58.0  26.5500      0      0         1

In [113]:
y_df = pd.DataFrame(df['Survived'])
y_df.head()

    Survived
1          1
3          1
6          0
10         1
11         1

In [114]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, train_size = 0.8)
x_train.shape, x_test.shape

((146, 7), (37, 7))

In [115]:
from sklearn.datasets import load_digits
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier

In [116]:
model_lg = LogisticRegression(max_iter=1000)
model_lg.fit(x_train, y_train)
y_pred_lg = model_lg.predict(x_test)
accuracy_score(y_pred_lg, y_test)

C:\Users\acer\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.8648648648648649

In [117]:
model_dt = DecisionTreeClassifier()
model_dt.fit(x_train, y_train)
y_pred_dt = model_dt.predict(x_test)
accuracy_score(y_pred_dt, y_test)

0.7297297297297297

In [118]:
if (accuracy_score(y_pred_lg, y_test)>accuracy_score(y_pred_dt, y_test)):
    print('LogisticRegression лучше DecisionTreeClassifier')
else:
    print('DecisionTreeClassifier лучше LogisticRegression')

LogisticRegression лучше DecisionTreeClassifier

## Normal

Используя кросс-валидацию, применить к данным Титаника модель RandomForestClassifier. Сравнить с первыми двумя моделями.

In [119]:
from sklearn.ensemble import RandomForestClassifier

In [120]:
model_rf = RandomForestClassifier( max_depth=100)
model_rf.fit(x_train, y_train)
y_pred = model_rf.predict(x_test)
print(f'Score (MSE) = {mean_squared_error(y_pred, y_test)}')

Score (MSE) = 0.24324324324324326

<ipython-input-120-7114a4c3dc17>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf.fit(x_train, y_train)

In [121]:
from sklearn.model_selection import cross_val_score

In [124]:
cross_val = cross_val_score(model_rf, x_train, y_train)
print('Кросс-валидация на треин выборке:', cross_val)
print('Среднее по кросс-валидации:', cross_val.mean())

print('Качество на тестовой выборке:', accuracy_score(model_rf.predict(x_test), y_test))

C:\Users\acer\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\acer\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\acer\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\acer\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

Кросс-валидация на треин выборке: [0.73333333 0.62068966 0.68965517 0.86206897 0.62068966]
Среднее по кросс-валидации: 0.7052873563218391
Качество на тестовой выборке: 0.7567567567567568

C:\Users\acer\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

In [125]:
print('RandomForestClassifier: ', accuracy_score(model_rf.predict(x_test), y_test))
print('LogisticRegression: ', accuracy_score(y_pred_lg, y_test))
print('DecisionTreeClassifier', accuracy_score(y_pred_dt, y_test))

RandomForestClassifier:  0.7567567567567568
LogisticRegression:  0.8648648648648649
DecisionTreeClassifier 0.7297297297297297